// VARS

$none: none;
$default: 0px;
$body-font: arial, sans-serif;
$heading-font: georgia, sans-serif;
$body-font-size: 0.75em;
$heading-font-size: 1.2em;
$bold: bold;
$white: #fff;
$center: center;
$green: #006c81;
$grey: #f2f2f2;
$screen-font-color: #333;
$full-width: 100%;
$header-bg: rgba(0,0,0,.6);
$default-padding: 10px;
$hover-boarder: #680000;
$search-box-width: 200px;


// GOLBAL MIXINS 

@mixin box-sizing($none){  
   box-sizing:border-box;
}

@mixin none-select($none){  
    user-select: none;
}

@mixin no-margins($none){
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

@mixin default-border($default){
	border: 1px solid #dcdce5;
}

@mixin widget-border-radius($none){
	border-radius: 2px;
}

@mixin indentifer-styles($default){
	margin: 2px;
	//border: 1px solid #dcdce5;
	border-radius: 65px;
	display: inline-block;
	transition: opacity 1s;
	background: rgba(0, 0, 0, 0.3);
	max-width: $default + 5;
	font-size: $body-font-size;
	padding: $default-padding - 3;
	&:hover{
		transition: all 0.1s ease-in;
		color: $green;
	}
	p{
		margin: 0px;
		padding: 0px;
		color: $green;
		&:hover{
			color: $green;
		}
	}
}

/*@mixin widget-slider-btn($default){
	position: absolute;
	width: 45px;
	text-align: $center;
	color: $white;
	background-color: rgba(0, 0, 0, 0.6);
	transition: all 0.1s ease-in-out;
	font-weight: 900;
	&:hover{
		background-color: $white;
		transition: all 0.1s ease-in-out;
		color: $green;
	}
}*/


// GLOBAL STYLES

body{
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	font-family: $body-font;
	font-size: $body-font-size;
	background-color: $white;
	@include box-sizing($none);
	@include none-select($none);
	color: $white;
}

h1,h2,h3,h4,p,span,pre,a{
	padding: $default-padding;
}

h1, h3{
	color: $green;
}

h1, h2{
	font-size: $heading-font-size;
	font-weight: $bold;
	font-family: $heading-font;
	color: $white;
}

h2{
  	height: $default + 10;
  	line-height: $default + 10;
  	padding: 10px 0;
}



a{
	text-decoration: $none;
	cursor: pointer;    
	color: $green;
}

p{
	color: $white;
	padding: $default;
}
