.tickr-container{
	position: relative;
	width: 350px;
	margin: 0 auto;
	padding: 10px 20px 20px;
	@include default-border($default);
	@include widget-border-radius($default);
	h3{
		text-align: right;
		padding: 10px 0;
	}
}

.tickrSlider{
	width: $full-width;
	@include default-border($default);
	max-width: 348px;
	height: 280px;
	position: relative;
	@include widget-border-radius($default);
}

.indentifer-container{
	position: relative;
	margin-top: 5px;
	:first-child{
		margin-left: 0px;

	}
}

.tickSlider-indentifer{
	@include indentifer-styles($default);
}

.active{
	background-color: $green;
	transition: opacity 1s;
	width: 8px;
	@include default-border($default);
	p{
		color: $white;
	}
}

.tickrSlider-inner{
	position: relative;
	width: 348px;
	height: 280px;
	cursor: pointer;
}

.tickrSlider-slide{
	opacity:0;
	position: absolute;
	top: 0;
	transition: opacity 1s;
}

.job-active{
	opacity: 1;
}

.tickrSlide-info{
	z-index: 800;
	@include widget-slider-btn($default);
}




