$susy: (
    flow: ltr,
    columns: 12,
    gutters: 4/8,
    math: fluid,
    output: float,
    gutter-position: split,
);

.tickr-container{
	position: relative;
	margin-top: gutter(14);
  	margin-bottom: gutter(14);
	//padding: 10px 20px 20px;
	height: 300px;
	overflow: hidden;
	@include default-border($default);
	@include widget-border-radius($default);
	@include breakpoint((min-width 1500px) (max-width 2500px)){
    	@include span (3);
  	}
	@include breakpoint((min-width 1120px) (max-width 1500px)){
    	@include span (4);
  	}
	@include breakpoint((min-width 750px) (max-width 1120px)){
    	@include span (6);
  	}
  	@include breakpoint((min-width 300px) (max-width 750px)){
    	@include span (12);
    	padding: 0;
  	}
	h3{
		text-align: right;
		padding: $default + 10 $default;
	}
}

.tickrSlider{
	@include default-border($default);
	//height: 280px;
	//position: relative;
	@include widget-border-radius($default);
}

.indentifer-container{
	position: absolute;
	z-index: 99;
	bottom: $default;
	text-align: center;
	background: rgba(255,255,255,.6);
	padding: 10px 0;
	width: $full-width;
	text-align: center;
	:first-child{
		margin-left: $default;
	}
}

.tickrSlider-img{
	width: $full-width;
	position: absolute;
	top: 0;
}

.tickSlider-indentifer{
	@include indentifer-styles($default);
}

.active{
	background: rgba(0, 0, 0, 0.9);
	transition: opacity 1s;
	p{
		color: $white;
	}
}

.tickrSlider-inner{
	cursor: pointer;
	overflow: hidden;
}

.tickrSlider-top{
	background: rgba(0, 0, 0, 0.6);
	display: inline-block;
	width: $full-width;
	position: relative;
	z-index: 99;

}

.tickrSlider-slide{
	opacity:0;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 1s;
	width: $full-width;
	height:  $full-width;
}

.job-active{
	opacity: 1;
}


.placeholder{
	background: $grey;
	height: 350px;
}



